*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #262a2f;
}
.container {
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    transform: translate(-50%, -50% );
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: #fff;
    border-radius: 10px;
}
.container p{
    color: #787b7e;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
    font-weight: 600;
}
.container input{
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    color:#79838c ;
    border: 1px solid #dcdfe6;
    transition: .3s ease all;
    margin: 10px 0 20px;

}
.container button{
    width: 100%;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right,#ff6347 ,#ee3270);
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease all;
    margin: 20px 0;

}
#imgBox{
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: 100%;
    position: relative;
    z-index: 1;
    margin-left: 80px;
    
    
}
